.loginWrapper {
    display: flex;
    justify-content: center;
}

.loginCard {
    width: 30vw;
    margin-top: 10%;
}


.insta-logo {
    display: flex;
    width: 100%;
    margin-top: 3%;
    align-items: center;
    justify-content: center;
}

.insta-logo-img {
    width: 15vw;
}

.imgcar {
    height: 590px;
    width: 441px;
    margin-top: 8vh;
    position: relative;
}

.car {
    height: 423px;
    width: 241px;
    position: absolute;
    left: 143px;
    top: 93px;
}

@media only screen and (max-width:620px) {
    .loginCard {
        width: 60%,
    }

    .insta-logo-img {
        width: 35%;
    }
}
